body {
	background:#eee;
}
.box {
	position: relative;
	width:254px;
	height: 340px;
	background:#fff;
	margin:10vw auto 10vw auto;
	box-shadow:0 0 9px #ccc;
	border-radius: 15px;
	color:#222;
	font-family: sans-serif;
	box-sizing: border-box;
	border: 5px solid #ff5;
}
span {
	user-select: none;
	text-align: center;
	display: inline-block;
	background: #eee;
	width:36px;
	height:20px;
	padding:2px;
	margin:5px;
	border-radius: 10px;
	cursor: pointer;
}
span:hover {
	background: #ff5;
}
span:last-child {
	width: 42%;
}
.head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #ff5;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
p {
	padding: 0px 10px 0px 10px;
	color: #fff;
	text-shadow: 0 0 5px #999;
	font-weight: bolder;
}
.body {
	position: absolute;
	top: 10px;
	left: 0;
	margin-top: 50px;
	padding: 0 15px 15px 15px;
}
#monitor {
	width: 86.5%;
	margin:5px 5px 10px 5px;
	padding:9px;
	border-radius: 5px;
	height:20px;
	background: #eee;
	border: none;
}

